MINIMAX_API_KEY=your_minimax_api_key
MINIMAX_MODEL=MiniMax-M2.5
REPORT_PROVIDER=minimax
ANALYTICS_TIMEZONE=Asia/Shanghai
ANALYTICS_API_TOKEN=replace_with_a_secret_token
PUBLIC_SITE_URL=http://39.101.77.13
PORT=8787
